<h1>Ombud</h1>
<p>Ombud es un sistema que actúa como <em>Ombudsman</em> entre tú y los entes estatales encargados de cuidar tu ciudad. Te ayuda a informarlos de problemas, desde calles en mal estado, basura, rincones o esquinas en mal estado o peligrosas y demás.</p>
<% @issues.each do |issue| %>
  <p>
    <%= issue.text %>
  </p>
<% end %>
